

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background: linear-gradient(90deg, #a5c5d2, #468c95); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --primary-dark: #30364F;
  --secondary-dark: #ACBAC4;
  --primary-light: #f0f0dB;
  --secondary-light: #e1d9bc; */
  --primary-light: #e4ebf0;
  --primary-dark: #222222;
  --secondary-light: #F5E7C6;
  /* --secondary-dark: #ff6d1f; */
  --secondary-dark: #441752;

  --primary-light-transparent: #faf3e100;
  --default-font: "Zain", sans-serif
}
*,
*::before,
*::after {
    margin:0;
  padding: 0;
  box-sizing: border-box;
}

.chosen-font{
  font-family: var(--default-font);
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  color:var(--primary-light);
  background: linear-gradient(90deg, #222222, #252227);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bebas-neue-regular {
  /* font-family: "Bebas Neue", sans-serif; */
  font-weight: 400;
  font-style: normal;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}
.dark-purple-font{
  color: var(--secondary-dark)
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
  color: var(--primary-light);
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.navbar-container{
  width: 100vw ;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  /* place-content: center; */
  justify-content: center;
  align-items: center;
  z-index: 20;
  height: 75px;
}
.navbar{
  background: radial-gradient(circle at 100%, #383838, #222222);
  width: 95vw;
  
  height: auto;
  display:  flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--primary-dark);
  z-index: 20;
  border-radius: 999px;
  padding: 5px 30px;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.5);
  min-width: 200px;
  box-sizing: border-box;
}

.navbar > * {
  min-width: 0;
}

.picture-display-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px){
  .navbar{
    padding: 5px 20px;
  }
  .picture-display-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
row-gap: 2rem;
  }
  .picture-display-container img{
    grid-row-start: 1;
    grid-column: span 2;
    margin: 0 auto;
    min-width: 330px;
  }
  .picture-display-container button{
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    max-width: 100px;
    width: 100%;
    min-width: 64px;
    
  }
}
.right-border{
  border-right: var(--primary-dark) 1px solid;
}
.full-border{
  border: var(--primary-dark) 1px solid;
  /* border-radius: 6px; */
}
.white-shade{
  text-shadow: 0 0 5px var(--secondary-light);
  text-decoration: underline;
}

.nav-shadow{
  width: 100%;
  height: 80px;
  top:0px; left: 0px;
background: linear-gradient(180deg, var(--secondary-dark), var(--primary-light-transparent));
  z-index: 19;
  background-size: 500% 100%;
  animation: AnimationName 30s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 0%}
    50%{background-position:100% 25%}
    100%{background-position:0% 0%}
}

.portfolio-item{
  background: linear-gradient(100deg, #252227, #222222);
  box-shadow:  0 0 5px black;
  /* box-shadow: 0 0 5px rgb(0 0 0 / 0.3); */
  /* border: solid 1px var(--primary-dark) */
}

.horizontal-gradient{
  background: linear-gradient(-805deg, var(--secondary-dark) 0%, var(--primary-light) 60%);
}

@media (max-width:1024px){
  .horizontal-gradient{
    background: linear-gradient(0deg, var(--secondary-dark) 0%, var(--primary-light) 60%);
  }
}

.noto-sans-arabic-md {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-sans-arabic-light {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-sans-arabic-bold {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}






@media (prefers-color-scheme: light) {
  :root {
    color: var(--primary-dark);
    background-color: var(--primary-light);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.image-container {
  width: 100%;
  max-width: 300px;  /* Set the desired width */
  height: 200px; /* Set the desired height */
  overflow: hidden; /* Ensures any cropped parts are hidden */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crops the image to fit the container */
  object-position: top; /* Centers the focal point of the crop */
}

.image-cropper {
  width: 250px;       /* Square dimensions for the container */
  height: 250px;
  position: relative; /* Required for positioning the image if needed */
  overflow: hidden;   /* Hides the parts of the image outside the div */
  border-radius: 50%; /* Creates the circular shape on the container */
}

.image-cropper img {
  /* Use object-fit or manual margins to position the image correctly within the circle */
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fits well within the circle */
}
